[2021-03-24 07:56] jorainer opened #1 "AnnotatedSpectra or MatchedSpectra"
Object representing matches between experimental and reference spectra.

The data we have is:
- `Spectra` representing the experimental spectra
- `Spectra` representing the database/reference matches
- mapping between these two including a similarity score.

One possibility to represent this would be:

[code]

`matches` would be a `data.frame` with columns `query_idx`, `target_idx` and `score` to

[2021-03-24 07:57] jorainer commented on #1
Happy for feedback @michaelwitting , but also @lgatto, whether something similar would be interesting for the proteomics world

[2021-03-24 08:04] michaelwitting commented on #1
I was originally thinking about `data.frame` that would be attached to the query spectrum. Tricky task. The function I had in mind would return a `list` of `data.frame` of the same length as the input `Spectra`.

You said you can attached a `Spectra` to `Spectra`, meaning via `$` right?

[2021-03-24 08:14] lgatto commented on #1
It would be useful to define a set of use cases. Here's a use case for proteomics MS2 spectra:

[code]
I will need to read @jorainer's suggestion above, but we need to think about what we want to store in such annotations: only the peak annotations or more information (such as query and target scans, ...), which might be more related to the computation rather than the actual results/annotations.

[2021-03-24 10:16] jorainer commented on #1
What I propose here is exclusively representing matching results between two `Spectra`.

The use case for me would be the following:
- I have experimental MS2 spectra in a `Spectra` object `a` that are related to a MS1 feature (I have then a `$feature_id` spectra variable in `a`).
- On the other hand I have a *reference* spectra (with MS2 spectra from e.g. MassBank) against which I want to match m

[2021-03-24 10:28] jorainer opened #2 "Mass and m/z matching"
This would be a simple MS1-only annotation using the m/z of e.g. a feature to a compound database (with masses). This could help identifying some first exhaustive list of candidates.

I would suggest to implement that in a modular way:

[code]

these functions above should actually return a `list` of `integer` with which elements in `y` match `x`. There should then be higher level methods that wor

[2021-03-24 11:05] michaelwitting commented on #2
Actually, I prefer to compare to compare m/z with m/z, especially for the case you mentioned with ppm error. Therefore I prefer to calculate the theoretical m/z values first and then match.
Along the same way: You normally compare the isotope pattern of ions against the theoretical isotope pattern of the ion. So in this regard I would do everything on m/z level.

[2021-03-24 11:06] michaelwitting commented on #2
I can make it more modular with `setMethod()`, have to look it up how to do, but shouldn't be a problem.

[2021-03-24 12:25] jorainer commented on #2
The reason for the mass instead of the m/z was that it would be computationally better to convert the input m/z values to masses (for all the specified adducts) instead of calculating m/z from all masses in the database...

[2021-03-24 12:29] michaelwitting commented on #2
I know. This was also the reason, why in previous versions I used precalculated m/z values, but this time I would like to be flexible.

[2021-03-24 12:46] jorainer commented on #2
We can get around this (I guess) - we can "translate" the ppm for an m/z into the `tolerance` and use that then in the comparison of masses. What I mean:

m/z value 132.3, ppm = 10, tolerance = 0 -> m/z value 132.3, ppm = 0, tolerance = 0.001323, convert the m/z to all possible masses and then use this mass (along with the tolerance) in the database comparison against the exact mass there

[2021-03-24 13:01] michaelwitting commented on #2
I have the feeling that this is a bit of cheating... Just a gut feeling.
However, calculation of the ion m/z is only done once during the function call.
One million numbers with all positive mode adducts takes about 6 seconds on my PC.

[2021-03-24 13:01] michaelwitting commented on #2
Sorry, 6 sec with display, 1.24 sec storing in object.

[2021-03-24 13:06] michaelwitting commented on #1
For the second approach, the length of the result would equal to the length of `a`. In case of no results found `@target` and `@mapping` would be empty, right?
If I want the the result for a specific index, e.g. `a[100]` then I would call `resultObject[100]`?

[2021-03-24 13:25] lgatto commented on #1
Ok, so what you are after is not really the annotation of spectra but matching spectra. You want to formalise the downstream results from `compareSpectra()`.

I would strongly oppose to your first solution. Spectra should not be added as `spectraVariables`.

If we try to simplify things, your results could be stored as a matrix or list of hits. With these indices, it would be very easy to extract

[2021-03-24 13:38] michaelwitting commented on #1
For the whole thing is about convenience. I'm doing all my MS2 matching within R. At the moment I'm storing all results in a `data.frame` and I'm linking results to query spectra and library spectra via IDs.
What I could imagine is a plotting function for `MatchedSpectra` creating all mirror plots for all results.

[2021-03-24 13:57] jorainer commented on #1
As Michael said, we have a set of MS2 spectra and we usually match that against a reference database. What I would suggest is to represent this mapping/matching in a `data.frame` with the indices to the query and target spectra. This would be the `@matches` slot of the object. I would just also save the spectra into the same object so that re-ordering, subsetting etc is more convenient - or plotti

[2021-03-24 14:00] jorainer commented on #2
OK, let's see how your implementation works and then see how/if we can tune it etc.

[2021-03-24 14:05] michaelwitting commented on #2
Unit test for basic function is there. I check if I can find a example for checking performance.

[2021-03-24 19:58] michaelwitting opened #3 "multiple similarity scores"
Tools like MS-Dial state the forward and reverse dot product as well as number of matching peaks / total number of library peaks. Thinking about a function such as `matchSpectra`, I'm wondering if we should do the same? This seems to be standard now. @jorainer Any thougths?

[2021-03-25 13:26] lgatto commented on #1
I am doing some work with spectra clustering at the moment. As far as I can see, there are a lot of open issues (distances, parameters, thresholds) - and hiding everything in a function isn't ideal in my opinion. I think it would be useful, for the future, to make different steps and intermediate visualisations explicit, even if a single wrapper runs everything in one go.

[2021-03-26 16:04] jorainer commented on #1
I agree, but with `Spectra` we have all the necessary tools for *power users* to do this kind of comparisons. For more *standard* workflows (identifying the best matches against a reference) I would like to have a high-level function that simplifies that for the *normal user*. The function will however be as modular and configurable as possible.

[2021-03-26 19:16] stanstrup commented on #1
Wouldn't keeping results in a matrix be easier to subset?
You could have a function `matches` that optionally returns indexes.
It would be convenient if the object also kept track of how the matching was done.
Subsetting based on the scores in matches would also be convenient.

[code]

[2021-03-27 14:37] michaelwitting commented on #1
What I'm still missing (and maybe that is my ignorance, lack of knowledge, etc): How "long" would this object be? If I have 100 `Spectra` I'm matching against a library of `Spectra` the `MatchedSpectra` would also have the length 100? If I want to know the matching results of the original `Spectra[50]` would I call `MatchedSpectra[50]`?

[2021-03-29 05:28] jorainer commented on #1
@stanstrup, there's no big difference between having it as a `data.frame` or `matrix`, only that accessing columns in a `data.frame` is slightly faster.

@michaelwitting initially yes, it will have length 100, but I intend to implement also functions that allow to *prune* that. And yes, `MatchedSpectra[50]` will return you (all) the matches of query spectrum 50. I'm working on it and once I have a

[2021-03-29 06:34] stanstrup commented on #1
@jorainer my point was not about the data type but if to store indexes or the comparison matrix from `compareSpectra`. If you keep it as the length(a):length(b) matrix I imagine subsetting is easier as you don't have to re-calculate indexes.
You could also easier have an object where you could subset in two dimensions.
`MatchedSpectra[c(1:3), c(7:9)] ` could return the 3 first query spectra with t

[2021-03-29 14:23] jorainer commented on #1
The `MatchedSpectra` object in its current implementation is thought to *just* contain the matching spectra (thus keeping only the indices). I don't really see the point/need to keep the full correlation matrix - if you want to do that you could simply keep the matrix you get from `compareSpectra`. The other point is that I don't want to do an all against all comparison at present (the correlation

[2021-03-31 17:11] michaelwitting commented on #1
I checked the first implementation and it looks good to me. I will search for some good data for a vignette.
One minor point: Can we have a column `matchFun` in the `matches` data.frame? I think this suggestion by @stanstrup was very good.

[2021-03-31 17:16] michaelwitting commented on #1
Is it supposed to also handle multipe matching functions? For example doing a forward and reverse dot product and storing both results in the same data frame?

[2021-03-31 18:26] michaelwitting opened #4 "Comparison functions for spectral matching"
I would like to implement a function called `compareLibrarySpectra` (working title). This function shall compare a `Spectra` `x` against `Spectra` `y`, where `x` are the query spectra and `y` the library spectra.
The function shall return a `MatchedSpectra` and perform spectral similarity comparison based on forward and reverse dot product (and maybe number of matching peaks).
My question to @jora

[2021-03-31 18:30] michaelwitting commented on #1
Example:
`matches$query_id   matches$target_idx   matches$score   matches$matchFun`
`1                              1                                 0.73                    forwardDp`
`1                              1                                 0.85                    reverseDp`

[2021-03-31 18:37] michaelwitting commented on #4
Library spectra shall be filtered by the `precursorMz` of `x` within `tolerance` / `ppm`.

[2021-03-31 18:39] michaelwitting commented on #1
Shall the treshold be in this function or shall we have an additional function `treshold` that works on a `MatchedSpectra`?

[2021-03-31 18:40] michaelwitting commented on #4
name would be `matchSpectra` according to @jorainer (see #1).

[2021-04-01 06:41] jorainer commented on #4
Wait, I have already implemented that method. It can be parallelized and it does prefilter - if wanted. I just need to finish the documentation and vignette on that and I will push and make a pull request.

[2021-04-01 07:28] #4 closed

[2021-04-06 10:15] michaelwitting commented on #3
What about a `rematchSpectra` function that takes a `matchedSpectra` and reprocesses everything or adds an additional similarity score based on a different function.?

[2021-04-06 10:57] jorainer commented on #3
Hm, the problem with that is that the `MatchedSpectra` supports only a single n:m mapping - if you re-match spectra you will most likely get different matching spectra and you will end up with multiple n:m mappings. That will be tricky to handle and I am afraid that it might also get the user confused.

What about a `MatchForwardReverseParam` that matches the query based on the forward score (that

[2021-04-07 06:56] michaelwitting commented on #3
Okay, let's go for `MatchForwardReverseParam`.

[2021-04-07 09:38] jorainer commented on #3
Just to get it right then:
- the forward match (on which target spectra are matched) is based on an *outer join* (not a *left join*), correct?
- the reverse match (that we *just* use to report an additional score with the matched target spectrum from above) is based on a *right join*?

I would then hard-code these joins into the `compareSpectra` calls.

[2021-04-07 09:43] michaelwitting commented on #3
Yes, the forward is an _outer join_ and reverse a _right join_ assuming that the library spectrum is the "right" spectrum.
Here are some figure explaining this:
http://prime.psc.riken.jp/compms/msdial/download/mathematics/MS-DIAL%20FAQ-vs2.pdf
(Slide 21)

[2021-04-07 10:00] jorainer commented on #3
Thanks. OK, I will work on that.

[2021-04-07 10:03] michaelwitting commented on #3
And what is left for me? ;-)

[2021-04-07 10:05] jorainer commented on #3
adding documentation and unit tests for the `matchMz` (or `annotateMz`?) functions :)

[2021-04-07 10:29] michaelwitting commented on #3
Let's call it better `matchMz`, fitting to the MS2 level.

[2021-04-13 14:30] jorainer opened #9 "Implement a *generic* `Matched` object"
Implement a `Matched` object that represents m:n mappings between query and target *things* (which can be e.g. `numeric`, `list`, `data.frame`). The `MatchedSpectra` would then extend this object by defining the `@query` and `@target` slots being `Spectra`.

This object should have general functions implemented:

- [ ] `show`
- [ ] `[`
- [ ] `$` (to access specific columns in `@query` or `@target`

[2021-04-13 14:34] jorainer commented on #9
@andreavicini

[2021-04-13 16:34] jorainer opened #10 "matchMz TargetMass2MzParam"
I would suggest to implement the following method for `matchMz` (which takes the approach described in #2):

[code]

The name `TargetMass2MzParam` is a little clumpsy but it shoud be self-explanatory: `target` contains (exact) masses that will be converted to m/z values using `mass2mz` and these should then be matched against the m/z of `query`.

The result should be a `Matched` object (issue #9)

[2021-05-10 08:14] #9 closed

[2021-05-10 08:15] jorainer commented on #2
Closing this issue now, since the (updated) code is in PR #12 . If the implemented way (convert the target mass to m/z and then compare the m/z values) turns out to be too computationally intense we can also implement the other way round with a different *Param* object.

[2021-05-10 08:15] #2 closed

[2021-05-10 08:18] jorainer commented on #1
Closing this issue now as the `MatchedSpectra` object and the `matchSpectra` function are implemented. I'm currently trying the functionality *in the wild* (i.e. using it in the annotation process) - if something is not working in its current implementation I will re-open the issue.

[2021-05-10 08:18] #1 closed

[2021-05-10 08:33] jorainer opened #13 "match m/z and retention times"
Going to the next level: given we have a *feature table* with m/z and retention time (RT) values and a *target* table that also has m/z (or mass) and retention times we need to have a `matchMz` method that matches based on m/z **and** RT values.

Given that we have in our *target* data.frame (or database or whatever) *only* exact masses (no m/z), we could define a `TargetMass2MzRtParam` and the co

[2021-05-10 08:36] jorainer opened #14 "match m/z against m/z"
To be complete, I guess we should also implement a m/z against m/z matching functionality, i.e. where both `target` and `query` tables contain already m/z values that should be matched against. This could be a simple `matchMz,MzParam` where the `MzParam` has simply the parameters `ppm` and `tolerance`.

Linking also issue #13

[2021-05-28 17:09] michaelwitting opened #16 "Comparing isotope pattern"
Hi,

I thought one other important aspect would be to compare two isotope pattern (e.g. one measured and one simulated) against each other. We could use the `matchedSpectra` here, assuming that the supplied spectra are MS1 spectra.
We would need a scoring function for the isotope pattern matching, since the dotproduct would not work here. What would be a good place for that? `MsCoreUtils` or `Meta

[2021-05-31 05:40] jorainer commented on #16
Hm, I guess isotope matching would also be important for proteomics and MS in general, thus `MsCoreUtils` might be the place to go.

[2021-06-01 07:29] michaelwitting commented on #16
I will check the `C++` code from `Rdisop`. I guess it can be tweaked...

[2021-06-04 08:04] jorainer commented on #14
Done in commit https://github.com/rformassspectrometry/MetaboAnnotation/commit/88f9ff44a31a9f813cfb73a0f751925d1190de3c

[2021-06-04 08:04] #14 closed

[2021-06-04 08:04] jorainer commented on #13
Done in https://github.com/rformassspectrometry/MetaboAnnotation/commit/88f9ff44a31a9f813cfb73a0f751925d1190de3c

[2021-06-04 08:04] #13 closed

[2021-06-04 08:06] jorainer opened #17 "Sticker for MetaboAnnotation"
We need a sticker for MetaboAnnotation. I thought maybe Sherlock Holmes with a loupe? searching for metabolites? Open for suggestions and alternative ideas @michaelwitting @andreavicini !

[2021-06-04 09:01] michaelwitting commented on #17
Yes, I think that would fit.

[2021-06-07 06:58] michaelwitting opened #18 "Naming of Param objects"
Naming of `TargetMass2MzParam` is confusing, since it implies you are only working on specific targets (which is the case in `MzParam`). I'm suggesting to rename it to e.g. `AdductMzParam` or similar to make clear that it first calculates adducts and then annotates measured m/z values.

[2021-06-07 07:20] jorainer commented on #18
I think we have the following situations:

- query m/z, target m/z: `MzParam`, since we're matching m/z against m/z directly.
- query m/z, target mass: need to convert the target mass first to m/z to compare. Original name of the Param class was `TargetMass2MzParam` to describe that conversion, but it might indeed be confusing. I'm OK with renaming `AdductMzParam` because we're converting mass ->

[2021-06-07 07:29] michaelwitting commented on #18
I'm totally fine with having one method and differentiate based on the parameter.
I'm just wondering if we need `AdductMzRtParam` from a practical point of view. If you don't know you m/z value, how should you know the RT? Typically, you would use this only for metabolites for which you have already measured standards. So `MzParam` and `MzRtParam` makes sense.

[2021-06-10 13:59] jorainer commented on #18
Wait, but `MzParam` at present assumes you have m/z as input (query) **and** m/z against which you want to compare (target or reference). If you have m/z as input and mass as reference you need to calculate m/z values from the mass **before** you can compare against the query m/z. We have called that `TargetMass2MzParam` (because the function `MetaboCoreUtils::mass2mz` function was used to calcula

[2021-06-10 14:04] michaelwitting commented on #18
Maybe we can remove the `Target` to only have `Mass2MzParam`?

On the other point: If you even don't know which adduct it is and therefore whichm m/z, how should you know the RT. Therefore, in practical point of view `Mass2MzRtParam` doesn't make sense. Of course we can add it, but I would think I would never use it.

[2021-06-11 08:25] jorainer commented on #18
Agree `Mass2MzParam` sounds great - without the misleading `Target`.

Never say you'll never use it :) I would add it for completeness reasons.

@andreavicini , can you please remove the `Target` from the names of all param objects? and please also update/fix the documentation accordingly, the unit tests and the vignette.

[2021-06-11 08:55] michaelwitting commented on #18
If I find time, I would implement a `MzRtCssParam` with the methods for also having CCS values matching in their.

[2021-06-18 05:34] #18 closed

[2021-06-18 05:41] jorainer opened #20 "Implement a Matched object for SummarizedExperiment"
We should also implement a `matchMz` for `SummarizedExperiment`. That method should do the matching based on the `DataFrame` in `rowData(x)` (which is expected to contain e.g. the feature definitions with m/z and rt). I think this will then however also require a new object extending `Matched` (e.g. a `MatchedSE` or `MatchedSummarizedExperiment`).

[2021-06-18 06:01] michaelwitting commented on #20
I would call it `MatchesSummarizedExperiment`

[2021-07-20 12:27] jorainer opened #22 "Matched objects don't work if $query_idx and $target_idx are unsorted"
The `$` and `matchedData` functions return wrong results if the `@matches$query_idx` (and `@matched@target_idx`) are unsorted. `matchMz` will return an object with sorted indices, but we should support also unsorted `@matches` matrices.

We should add unit tests checking this:
- `$query_idx` is unsorted and returns the same results as with sorted `$query_idx`.
- `$target_idx` is unsorted and retur

[2021-07-30 06:36] jorainer commented on #22
Seems that issue is fixed now, thanks @andreavicini

[2021-07-30 06:36] #22 closed

[2021-07-30 06:46] jorainer opened #26 "Have a way to select or remove specific matches"
There should be an easy way to keep or remove selected matches in a `Matched` object. Something like

[code]

we should support both `query` and `target` to be integer indices and character. For the latter it could be `rownames` or `names`, but also values in certain columns in query or column (which could be specified with `queryColumn` and `targetColumn`).

[2021-08-05 07:53] jorainer commented on #17
I found the time to start working on the sticker. That's what I've made so far: comments/improvements/suggestions @michaelwitting @andreavicini ?

![MetaboAnnotation](https://user-images.githubusercontent.com/5506112/128312982-4a92ecdb-a6f4-418f-b062-3066fba79ac3.png)

[2021-08-05 09:30] andreavicini commented on #17
It looks very nice to me! :)

[2021-08-05 12:32] jorainer commented on #17
Or better with a brown lower border?

![MetaboAnnotation](https://user-images.githubusercontent.com/5506112/128350459-9fe61246-452a-47ad-aaa3-7a49998cd718.png)

[2021-08-05 17:03] jorainer commented on #17
OK, I think I found the version I like most: with that we have all the color brownish/orange/yellow. I think this one looks more *consistent*.

![MetaboAnnotation](https://user-images.githubusercontent.com/5506112/128391348-0b0032f5-9e35-496d-ba55-e8b09cf5a2ec.png)

[2021-08-30 14:04] jorainer opened #28 "matchMz very slow"
Running `matchMzRt` on a data set with ~ 5000 features matching against ~ 200 target entries takes 156 seconds. This is not acceptable and we should try to improve the performance.

[2021-08-31 06:00] #26 closed

[2021-08-31 06:01] #20 closed

[2021-08-31 06:03] jorainer opened #29 "More flexible score parameter for addMatches"
The parameter `score` for `addMatches` needs to be more flexible. At present it has to be a `data.frame` with the same columns than `@matches`. It would however be better to support providing either numerical values (to be used as `score`) or alternatively a `data.frame` with potential additional columns. The merging of the new and old content of `@matches` should be done with `MsCoreUtils::rbindF

[2021-09-01 11:46] #29 closed

[2021-09-01 12:20] jorainer opened #32 "Consistency in parameter naming"
Currently we have parameters `mzColumn`, `massColumn` and `rtColumn` for `matchMz` but methods `addMatches` and `filterMatches` have parameters `queryColname` and `targetColname`. I would suggest that we either call them `*Column` or `*Colname`, but not have both. @andreavicini , any preference?

[2021-09-01 12:41] andreavicini commented on #32
Yes, you are right. Both appear fine to me. `*Colname` maybe makes clearer that we want the name and not the column itself but I think that also `*Column` wouldn't cause confusion and it's slightly shorter.

[2021-09-01 12:47] jorainer commented on #32
Hm, I think you're right - `*Colname` maybe is more explicit. I'll change to that.

[2021-09-01 14:04] #32 closed

[2021-09-01 14:04] #28 closed

[2021-09-01 14:04] #17 closed

[2021-09-15 15:16] hvaret opened #34 "Tolerance parameter in matchSpectra()"
Hi,

I am trying the `matchSpectra()` function of the package with toy data and there seems to be a problem when setting the tolerance parameter higher than 0. Actually I get some matches with `tolerance=0` and I lose them with `tolerance=0.2` (for instance).

Here is a reproducible example:

[code]

Note that the tolerance parameter seems to be OK in `Spectra::compareSpectra()`:

[code]

I had a

[2021-09-16 07:51] jorainer commented on #34
Thanks Hugo! I'll have a look at it.

[2021-09-16 08:09] jorainer commented on #34
This was fixed in the commit referenced above. Thanks for the reproducible example and the fix! Please close this issue if you're OK with the update.

[2021-09-16 09:39] hvaret commented on #34
Thanks a lot for your fast answer @jorainer , I close this issue!

[2021-09-16 09:39] #34 closed

[2021-09-20 11:41] stanstrup opened #35 "retention time in MatchForwardReverseParam"
Wouldn't it make sense to be able to match retention time directly in `MatchForwardReverseParam` like in `Mass2MzRtParam`?
I have our in house database with (for now) MS1 and RT for all compounds and I match to CAMERA pseudo-spectra. In that case it makes sense to also match the RT.
For now I managed to use `filterMatches`:

[code]

[2021-09-20 11:45] stanstrup opened #36 "number of common peaks in @matches"
It would be nice to have the number of common peaks in `@matches` in addition to `presence_ratio`. When I take a quick look at matches I'd like to see if for example only a single peak was matched.

[2021-09-20 12:10] stanstrup commented on #16
As far as I remember the Rdisop score some times gives weird result where a worse match is scored higher... So perhaps it is not a good reference implementation...

[2021-09-20 12:17] stanstrup opened #37 "filter based on reverse score in MatchForwardReverseParam?"
If you are matching spectra to MS1 data doesn't the reverse score make most sense?
If so It would be useful to be able to access the reverse score in `THRESHFUN`.
You could also imagine you'd want to filter on number of common peaks or peak presence ratio.

[2021-09-20 13:14] stanstrup commented on #28
Is this applicable to `matchSpectra` too?
In a 100x100 comparison `matchSpectra` is ~100 times slower than `compareSpectra`...

[2021-09-20 14:45] jorainer commented on #35
hm, good point. I'll have a look into it. We could have an `rt` and `rtTolerance` parameter in there and then only match that if it is available. Alternatively, we could have an `MatchForwardReverseRtParam` that adds the RT matching in addition to the spectra matching.

[2021-09-20 17:05] michaelwitting commented on #16
I know that in Sirius there is a good implementation. Maybe we can check their code. I have a meeting with Sebastian Böcker tomorrow, so I can ask about the exact algorithm behind it.

[2021-09-20 17:06] michaelwitting commented on #35
I would prefer a new param object, though the names are getting quite long now? ;-)

[2021-09-21 07:50] jorainer commented on #35
I had a look at the code of the matching function. Akthough I would also prefer a new param object for this, we could avoid code redundancy if we simply added a `rt` and `toleranceRt` parameter to `CompareSpectraParam`. The default would be `rt = numeric()` and no rt comparison would be performed, if `rt = numeric(1)` we could simply have an additional `filterRt` call within the loop. Note however

[2021-09-21 09:11] stanstrup commented on #35
Works for me. Default of `rt = Inf` would be my suggestion.

[2021-09-21 10:47] jorainer commented on #36
Sure, makes sense.

[2021-09-21 11:09] jorainer commented on #37
couldn't you simply do that by replacing `query` with `target`?

[2021-09-21 11:25] stanstrup opened #38 "slow performance of matchSpectra"
`matchSpectra` seem to be very slow for some reason.

[code]

`matchSpectra` takes 5.8s while the 3 calls to `compareSpectra` takes 0.08s.
With a larger comparison this turns into minutes vs. many hours...

Maybe related to #28?

[2021-09-21 11:33] stanstrup commented on #37
Yes, I suppose so. But the downstream workflow would be confusing and the presence ratio would be different I guess.

I can see how it would be messy but being able to define a threshold for each calculated parameter would make sense to me...

[2021-09-21 11:40] jorainer commented on #38
Note that `CompareSpectraParam` is also faster:

[code]

Thus, I guess most of the performance loss is in calculating the reverse match. I will dig into that and see how we can improve the performance.

[2021-09-21 11:45] stanstrup commented on #38
You are right that CompareSpectraParam is a lot faster. But there is still also a ~8x difference between compareSpectra and CompareSpectraParam with a 20x20 comparison.

[2021-09-21 14:23] jorainer commented on #38
On reason will of course be that `compareSpectra` simply compares the spectra, while in `matchSpectra` we're checking if the precursor m/z match, compare the spectra and then also perform some postprocessing (selecting the matching spectra). Still, it's a little strange that this should slow the function down like that...

Note that the biggest benefit of the `matchSpectra` is in fact the filterin

[2021-09-22 06:45] jorainer commented on #38
I think the reason for the huge performance difference is the rather unrealistic `THRESHFUN` you are using. In your case you are returning all of `target` as matches and for the reverse score you have then also to run the similarity calculation between each spectrum in `minimb` against each in the query:

[code]

as you see, as a result you get a match of each query spectrum (n = 10) with each tar

[2021-09-22 07:25] stanstrup commented on #38
You are right that `which(x > 0)` makes one hell of a difference to `seq_along(x)`. In my work flow that got the analysis time down to 2 min instead of many hours, so that is good enough for me.
Many thanks for looking into this!

[2021-09-22 10:09] jorainer commented on #38
Happy to announce that I could improve the speed, specifically if you're not using the precursor filter:

[code]

Using the precursor filter is (obviously faster), but also without it we're slightly faster now.

[2021-09-22 10:29] jorainer commented on #36
@stanstrup , can you check if you're happy with the recent changes and eventually close the issue?

[2021-09-22 10:30] jorainer commented on #38
@stanstrup , can you please check the updated version and eventually close the issue if you're ~ OK with it?

[2021-09-22 10:46] stanstrup commented on #38
With the above example I now get `Error in FUN(newX[, i], ...) : unused argument (simplify = FALSE)` :(

[2021-09-22 11:13] jorainer commented on #38
Now, that's very strange. The only `simplify = FALSE` is from the `apply` call that is now used... I'll ensure that `base::apply` is used, maybe that solves it. Can you please test with the last version I just committed?

[2021-09-22 11:19] jorainer commented on #37
Both the forward and reverse score are reported - would it be possible to filter (subset) the `MatchedSpectra` object after the `matchSpectra` call? Maybe using a more relaxed filter in `THRESHFUN` and then a more stringent on the reported reverse score?

[2021-09-22 11:26] stanstrup commented on #38
Interesting. I checked the docs on my computer and it does not have that option. Seems like it was introduced very recently: https://developer.r-project.org/blosxom.cgi/R-devel/NEWS/2021/03/06#n2021-03-06
So it is not about using the right `apply` function but about a new enough R. It was added in v 4.1.0.
I shall update and report back.

[2021-09-22 11:35] stanstrup commented on #37
Yes that is what I am doing now. With the speed increase that now works OK:

[code]

Feel free to close if you consider this better handled manually like this.

[2021-09-22 11:45] jorainer commented on #37
Would it help to have a `THRESHFUN_REVERSE` parameter in `MatchForwardReverseParam` that allows to define a function to filter the matches that passed `THRESHFUN` based on the reverse score?

[2021-09-22 11:49] stanstrup commented on #37
Yes! That would be convenient and what I was hoping for.

[2021-09-22 13:48] stanstrup commented on #38
I can confirm that it works with R v 4.1.1.
I don't see much speed improvement though. But the smarter THRESHFUN does the trick.

[2021-09-22 13:48] #38 closed

[2021-09-22 14:39] jorainer commented on #37
Please check the updated version - which should also run on R 4.0.

[2021-09-22 14:51] jorainer opened #41 "Support for manually defined adducts in `matchMz`"
Support parameter `adducts` to be either a `character` or also a (manually defined) `data.frame` with adduct definition. Suggested by @mar-garcia.

[2021-09-22 18:00] stanstrup commented on #36
It seems to always return 1...

[2021-09-22 18:01] stanstrup commented on #37
Works. Thanks!

[2021-09-22 18:01] #37 closed

[2021-09-23 06:44] jorainer commented on #36
OMG, you're right @stanstrup ! Instead of adding the number of common peaks for one match I always replaced the whole column (see https://github.com/rformassspectrometry/MetaboAnnotation/commit/4788bbc962277dece8a92e4063fb895bfdee26ff)! I'm really sorry for this terrible bug! Thanks for checking and reporting! It should be fixed now.

[2021-09-23 07:34] stanstrup commented on #36
It is me that thanks you for bothering with my request. It works now. Thanks!

[2021-09-23 07:34] #36 closed

[2021-09-24 12:01] #41 closed

[2021-09-30 06:49] jorainer commented on #16
Just thinking out loud:
- theoretical isotope pattern could be calculated with `enviPat` - but you would need to know the chemical formula beforehand.
- if one would then restrict the MS1 spectrum to peaks representing isotopologues of the compound of interest (i.e. isotopologues for a given m/z of interest), shouldn't dotproduct or any of the other similarity scores be good enough to compare this

[2021-09-30 06:56] michaelwitting commented on #16
The dotproduct would overestimate similarity, since it would be mainly driven by the monoisotope, which is the highest peak. It was originally develope for GC-MS, where you have a lot of peaks distributed over a m/z range, each peak with some contribution to the spectrum.
I guess we really need here another score, but I'm opne for any suggestion.

[2021-09-30 07:20] stanstrup commented on #16
There is a suggestion here I think: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4321342/#__sec4title

[2021-11-22 10:14] #35 closed

[2021-11-22 15:25] bitbarbie opened #46 "Multiple ppm as parameter"
Is it possible to set individual ppm values per mass or mz?

[2021-11-22 15:53] jorainer opened #47 "Export result as mzTab?"
Would be nice to export an `Matched` or `MatchedSpectra` as mzTab?

[2021-11-23 08:08] LiesaSalzer opened #48 "RT filter for adducts"
Maybe it would make sense to add a RT filter that only leaves annotated adducts that elute in a similar RT window (e.g. 10 sec difference)

[2021-12-17 12:29] jorainer opened #49 "Add matchMz and matchSpectra for CompDb and IonDb"
Add matching functions for `CompDb` and `IonDb` databases.

- `CompDb`: only `matchMz,Mass2MzParam` is supported because no m/z values are available. Additional parameter `columns` should allow to specify which annotation columns to extract. The result will have a `data.frame` as `target`, not a `CompDb`.
- `IonDb`: support `matchMz,Mass2MzParam`, `matchMz,MzParam` and `matchMz,MzRtParam` using ei

[2021-12-17 16:53] michaelwitting opened #50 "Add different param object that accept also RI"
Hi,

writing some part for our paper I realized that it might be handy to have the functions for annotation also accepting a retention index instead of a retention time.
We have in MetaboCoreUtils a function converting `rtime` to `rindex`. A `Mass2MzRiParam` would tell to use `rindex` instead of `rtime`.
This would make my current workaround in copying the retention index to the retention time col

[2021-12-17 17:04] michaelwitting commented on #50
Forget what I said, I now realized that you can define the retention time column

[2021-12-17 17:04] #50 closed

[2021-12-23 15:28] jorainer opened #51 "Report ppm error in matchMz"
Calculate also the ppm error for the comparison (difference/theoretical m/z * 10e6)

[2022-01-05 09:12] tiwa1125 opened #52 "MatchSpectra function"
Hi,
I tried to use the MetaboAnnotation to annotate my metabolites, and I used the HMDB to get the match, while when I used the code below, I even did not get any matches, that is weird, as I am sure there are many metabolites could be identified. Do you know what is the problem?

+                        param = CompareSpectraParam(requirePrecursor = TRUE,
+

[2022-01-05 14:14] jorainer commented on #52
I assume the `pest_ms2` contains MS2 spectra from the *pesticide* test data? If that's the case you'll not find matches in HMDB because HMDB provides human metabolite data and does not contain (AFAIK) plant pesticides You should however get some matches if you use MassBank as that resource contains also MS2 spectra from not naturally occuring compounds.

[2022-01-05 14:19] tiwa1125 commented on #52
Hi Johannes,
Thanks for your reply, I did not use the test data, but my own data, it is a sample from human blood, I run it on bruker qtof with DDA mode, so I assume I should get some matches, since I already know many metabolites are there by matching with the authentic standards. Did I make something wrong?

MSn data (Spectra) with 5220 spectra in a MsBackendMzR backend:
       msLevel     rtime

[2022-01-06 07:59] jorainer commented on #52
I would maybe suggest to remove some of the low intensity peaks in your MS2 spectra (similar to what I did in the [tutorial](https://jorainer.github.io/SpectraTutorials/articles/Spectra-matching-with-MetaboAnnotation.html)). Then, importantly, HMDB does not provide precursor m/z values, so you should use `requirePrecursor = FALSE`. Unfortunately, this will have a huge impact on performance because

[2022-01-07 22:34] cbroeckl opened #53 "question - not issue, per se"
Hello @jorainer @michaelwitting @stanstrup - i have spent a bit of time looking at the MetaboAnnotation and CompoundDb packages, and am starting to download them and walk through the vignettes with your demo data.  Excellent efforts thus far!

I was wondering whether there are, or will be, any explicit links between XCMS or CAMERA output (xcmsSet, or the MSnbase versions) and the functionality in

[2022-01-08 12:59] jorainer commented on #53
Hi Corey!
Plans are the we integrate `xcms` (and then also `MsFeatures` <- successor of `CAMERA`) better. We're currently working also on additional example use cases for MS1-based annotation and there is also an additional tutorial available [here](https://jorainer.github.io/SpectraTutorials/articles/Spectra-matching-with-MetaboAnnotation.html).

[2022-01-19 13:42] tiwa1125 commented on #52
Hi,
I finally made it work, while I got some weird results, I think the target compound ID does not fit with the fragments it found, did I do something wrong?
rtime
precursorMz
target_precursorMz
score
target_compound_id
target_predicted
basePeakMZ
target_spectrum_id
23.266
115.0373611
NA
0.855602
HMDB0000002
FALSE
0
2512
23.266
115.0373611
NA
0.855225
HMDB0000002
FALSE
0
445976
80.006
218.140564

[2022-01-21 12:13] michaelwitting opened #56 "matchIonMode function?"
What about having a `matchIonMode()` function? I have sometimes the case to match between ion modes and the results would be perfectly fitted for the `Matched` object, e.g. in negative mode you have detected a [M-H]- and in positive the respective [M+H]+ and [M+Na]+. The function can accept `x` and `y` and `xAdducts` and `yAdducts`, perform `mz2mass` with that and match the neutral mass. Additiona

[2022-01-31 13:58] jorainer commented on #56
Could you maybe explain that with a use case describing also the input data that you have? Is it then features from positive and negative polarity?

[2022-01-31 14:12] jorainer commented on #52
Note that the masses of the compounds are exact masses, not m/z values, thus, they might indeed be smaller than the precursor ion, depending on what ion/adduct was fragmented. Hm, and you're right, the compound name is not available in that data.

I would thus suggest to do something different:

- Install the `CompoundDb` package with `BiocManager::install("RforMassSpectrometry/CompoundDb")`.
- Do

[2022-02-01 17:14] michaelwitting commented on #56
Yes, the idea is to have either two vectors of m/z values from positive and negative ion mode and match them. Alternatively, two feature tables either as `data.frame` or `SummarizedExperiment` can be matched, optionally also using retention time as additional filter. Having this you can start comparing data from positive and negative ion mode and e.g. check if you detected the same features and if

[2022-02-03 14:55] jorainer commented on #56
I like the idea - but that could be even generalized to a `CompareMassParam` I think. So `CompareMassParam` could have parameters `queryAdduct` and `targetAdduct` as well as `ppm` and `tolerance`. You could then call:

[code]

with `qry` and `trgt` being m/z values form e.g. features in positive and negative polarity. The function would then first convert the m/z from `qry` to masses based on `que

[2022-02-04 09:38] michaelwitting commented on #56
Agreed, we can rename everything to matchMass and the ionmode matching is special case. I already made a simple implementation for the ion mode matching.
https://github.com/rformassspectrometry/MetaboAnnotation/pull/58
I will change naming, etc accordingly.

[2022-02-04 10:22] michaelwitting commented on #47
Indeed, that could be really nice. However, a major question might be how to handle multiple `Matched` or similar for the same data set, e.g. one from MS1 and one from MS2 analysis.

[2022-02-04 13:05] michaelwitting commented on #56
PS: I would like to have a dedicated functions called `matchMass` instead of having it as special case of `matchMz`. Naming might lead to confusion here, when the function name says you compare m/z, but reality its neutral masses.
On the other side, we have adducts as arguments, which might be confusing when you want to compare neutral masses.

Tricky situation. Ideas? @andreavicini maybe?

[2022-02-04 15:07] jorainer commented on #56
Hm, yes. But it's similar with `matchMz,Mass2MzParam` - there we convert masses to m/z prior comparison. Maybe we should have called the function `matchValues` from the very beginning...

The issue with `matchMass` would then again be that this would work only if both `query` and `target` are masses - if one of the two is an m/z and the other a mass, do we then use `matchMz` or `matchMass`? :)

[2022-02-04 15:36] michaelwitting commented on #56
Ahh.... too many options. ;-)
Okay, then let's have a new parameter object and please ignore my draft PR. @andreavicini can have a look at my code maybe and adopt it into `matchMz`.

[2022-02-04 15:50] andreavicini commented on #56
Yes, I can do that! I agree that maybe it’s better to have only one name for the function

[2022-02-07 14:01] jorainer commented on #56
That OK for you @michaelwitting ?

[2022-02-07 16:15] michaelwitting commented on #56
Totally fine...

[2022-02-19 15:14] michaelwitting opened #61 "Additional CCS matching?"
More and more people use ion mobility and my question is if we should also add CCS matching?
Could be done in `matchMz` with an additional param object. Matching would be m/z and CCS or m/z, RT and CCS.

[2022-02-23 15:15] jorainer commented on #61
Sounds good to me. But we would need test data etc for that...

[2022-02-23 16:50] michaelwitting commented on #61
I have some data, no problem. I will search for it. CCS matching is typically done with a relative error in %.

[2022-02-28 10:38] michaelwitting commented on #61
One important thing that came to my mind: We only need `MzCcsParam` and `MzRtCssParam`. Each adduct has a different CCS-value, therefore the conversion from exact mass to m/z makes no sense.
How shall we go from here? Shall I implement a prototype?

[2022-03-02 15:06] jorainer opened #65 "Change matchMz to matchValues"
Maybe it would be easier for the user if we changed the `matchMz` method to `matchValues` - to cover all possibilities (m/z,  mass, or RT matching). We could keep an alias `matchMz` that simply calls `matchValues` to be backward compatible.

[2022-03-02 15:57] andreavicini commented on #56
Yes, it does more or less the opposite. The difference is that both `query` and `target` values get converted before the match while for `Mass2MzParam` only target does (so "it would be like a TargetMass2MzParam")

[2022-03-02 15:57] michaelwitting commented on #65
Would be fine for me.

[2022-03-02 16:03] michaelwitting commented on #56
I don't know if we really need `queryAdduct` and `targetAdduct` in `Mass2MzParam`, normally you want to compare here m/z values from similar adducts. `Mz2MassParam` for me is a bit different, since it also allows to match between different ion modes. Therefore we need the different adduct definitions.
To keep maximum flexibility, we can have `queryAdduct` and `targetAdduct` in all methods. If a us

[2022-03-03 16:35] michaelwitting commented on #56
I agree with this list @andreavicini :

`MzParam`: matches m/z values in query and target
`Mass2MzParam`: matches query m/z to m/z obtained transforming target masses.
`Mz2MassParam`: matches masses obtained transforming query and target m/z.

Having this now in front of me, I think we need `queryAdducts` and `targetAdducts` only in the `Mz2MassParam`, for the others `adducts` is sufficient.

[2022-03-07 09:17] jorainer commented on #56
I agree with both of you @andreavicini and @michaelwitting . So, maybe the following would make sense:

- `ValueParam`: with slots `@ppm` and `@tolerance` - but we don't export that class.
- `MzParam`: inherits `ValueParam`, we export that.
- `Mass2MzParam`: inherit `ValueParam`, add slot `targetAdducts` (or keep it adducts - I would just find it more convenient to have the slot named `targetAdduc

[2022-03-07 09:46] andreavicini commented on #56
That seems good to me! So we don’t export `ValueParam` because we don’t expect the user to perform matches based on other values than m/z at the moment, right?

[2022-03-07 10:36] michaelwitting commented on #56
Seems fine to me. No, it will be only m/z. RT and CCS will be always on top of that.

[2022-03-08 17:05] jmbadia opened #66 "matchSpectra -- Error in x$.self$finalize() : attempt to apply non-function"
Just reporting that ...
The `matchSpectra()` function throws randomly the _Error in x$.self$finalize() : attempt to apply non-function_. Result seems unaltered  independently of the number of errors obtained so I guess it is caused by the same harmless garbage collector #issue-329840320 [reported for xcms3](https://github.com/sneumann/xcms/issues/288#issue-329840320) ()
[code]

[2022-03-09 06:38] jorainer commented on #66
Thanks for reporting. And yes, this all comes from the `mzR` (proteowizard) code. As you said, AFAIK this does not affect results or data in anyway, but can be surely disturbing.

Unfortunately we can't do much to fix it, thus I'm closing the issue.

[2022-03-09 06:38] #66 closed

[2022-03-17 07:48] michaelwitting opened #67 "Support for QFeatures"
`QFeatures` are an extension of `SummarizedExperiment` specific for MS data. Shall we add support for this as well.  We (@chufz and myself) are using `QFeatures` within our annotation workflow (https://github.com/michaelwitting/MetaboliteAnnotationWorkflow).

[2022-03-17 10:00] jorainer commented on #67
Sure! Sounds like a great idea - but it's not directly extending `SummarizedExperiment`, right? In that case it should already work right away. Does it have something like `rowData` or where are you storing the annotation in a `QFeatures`?

[2022-03-17 10:48] michaelwitting commented on #67
Yes, you can access the annotations via `rowData`.

[2022-03-17 11:16] jorainer commented on #67
Hm, but then the solution might be very easy to simply define a `classUnion` for `QFeatures` and `SummarizedExperiment`? Maybe @andreavicini could you have a look into that?

[2022-03-17 14:17] andreavicini commented on #67
Yes, I think too it should work that way. I'll look into it.

[2022-03-24 12:11] jorainer opened #69 "matchedData not working for all result objects"
Some `Matched` result objects returned by `matchValues` for some param classes seem not to be OK:

`Mz2MassParam`:

[code]

Same problem even if `a` and `b` are `data.frame`. Same/similar problem with `Mz2MassRtParam`:

[code]

[2022-03-24 12:12] jorainer commented on #69
Can you please have a look into that @andreavicini ?

[2022-03-27 09:34] michaelwitting opened #73 "validateMatchedSpectra crashes"
`validateMatchedSpectra` crashes if first a match with multiple matches is selected and in the table a match in rows 2 or higher is selected and then a feature with only a single match is selected.

[2022-03-28 07:10] jorainer commented on #73
hm, I'll look into that.

[2022-03-28 07:43] jorainer commented on #73
it's strange. the index in the table should be resetted to 1 when a new query spectrum is selected - but apparently that's not happening.

[2022-03-28 09:32] jorainer commented on #73
@michaelwitting can you please test again with the current master? It worked for me, but better to have a second independent test.

[2022-03-28 10:09] michaelwitting commented on #73
Tested it. Working!

[2022-03-28 10:10] #73 closed

[2022-03-28 10:14] jorainer commented on #73
Great - I pushed it now also to BioC

[2022-03-29 06:04] jorainer commented on #67
Yes, the `QFeatures` extends the `MultiAssayExperiment` - so maybe the best would be to support that class - then we would get the `QFeatures` *for free*.

[2022-03-29 06:05] jorainer commented on #67
`MultiAssayExperiment` is defined [here](http://bioconductor.org/packages/release/bioc/html/MultiAssayExperiment.html)

[2022-03-29 08:23] jorainer commented on #61
sorry for my late reply. Yes, please go ahead and implement a prototype. I would suggest to maybe implement that in a separate file (MzCcsParam.R or similar)? The `matchValues.R` file gets already quite large and unreadable.

[2022-03-29 10:43] chufz commented on #61
Hi, i just had a first quick look,  i think `inv_ion_mobility` seems more useful as a peaks variable in the header of the Spectra, similar like CE

[2022-03-29 10:52] michaelwitting commented on #61
Wrong issue? @chufz I think you wanted answer to the timsTOF backend right?

[2022-03-29 14:45] chufz commented on #61
yes sorry- too many open tabs...

[2022-03-30 12:03] #69 closed

[2022-04-01 09:09] andreavicini commented on #67
As far as I understood these objects contain a list of experiments that generally are `SummarizedExperiment`s but can also be other two dimensional object such as `matrix`.  Our `matchValue`  function should get the `rowData` of one of those experiments (in case they are matrix maybe throw an error) and perform the match on that, right? Also the question is which one? Should we add an additional p

[2022-04-01 09:44] michaelwitting commented on #67
Yes, the user would need to define the assay that shall be used. I agree to have a slot in `Matched` object or object derived from it.

[2022-04-01 12:26] jorainer commented on #67
Agree. For `QFeatures` or `MultiAssayExperiments` `matchValues` would gain an additional parameter `assayName` that defines which of the assays should be used. This needs then also to be stored in the `Matched` object. Question is whether in an additional slot in `Matched` or in a new class... it depends a bit what is less complicated. I have presently the feeling that it is easier to just add a n

[2022-04-03 09:36] #56 closed

[2022-04-03 09:38] michaelwitting opened #77 "Error when matching ion modes"
I receive the following error `Error: subscript contains invalid names` when calling `matchedData` on the `Matched` object in the attached .rds file.
[ms1ionmodematching.zip](https://github.com/rformassspectrometry/MetaboAnnotation/files/8404180/ms1ionmodematching.zip)

[2022-04-04 06:26] jorainer commented on #77
It works for me - could be this was fixed in PR #76 (issue #69). Please update `MetaboAnnotation` from github (`BiocManager::install("RforMassSpectrometry/MetaboAnnotation")` and try again (could be this version is not yet available on BioC - there is some days delay sometimes).

[2022-04-04 08:29] michaelwitting commented on #77
Indeed that was the problem. Too fast development in `MetaboAnnotation` at the moment ;-)

[2022-04-04 08:29] #77 closed

[2022-04-06 13:19] chufz opened #78 "packages for function validateMatchedSpectra"
Currently, the packages 'shiny', 'shinyjs', 'DT' and 'plotly' are not installed with MetaboAnnotation, but are required for the `validateMatchedSpectra` function. Should these dependencies be included or is there a reason to keep them separate?

[2022-04-06 14:49] jorainer commented on #78
If possible I would like to keep them separate. These will only be needed for this one function and we shouldn't require all package users to depend on all these packages if they are *just* using the core functionality of the package. Keeps the package dependency low and easier to maintain.

We do a similar thing in `Spectra`: the HDF5 functionality and mzR/proteowizard are not required packages.

[2022-04-06 14:53] jorainer commented on #78
And note that also suggested packages could be automatically installed with:

[code]

[2022-04-06 15:09] #78 closed

[2022-05-06 05:29] jorainer commented on #67
This is implemented with PR #80

[2022-05-06 05:29] #67 closed

[2022-05-06 05:29] #65 closed

[2022-05-06 05:29] jorainer commented on #51
This is now also implented.

[2022-05-06 05:29] #51 closed

[2022-05-06 05:47] jorainer opened #81 "Extend filterMatches framework"
Currently `filterMatches` allows to filter a `Matched` object keeping only selected elements which are specified with the additional parameters. I would suggest the following extension:

- change the `generic` for `filterMatches` to include a second parameter `param` to the definition.
- to ensure backward compatibility we define a `param = "missing"` method that has the additional parameters as t

[2022-05-06 07:37] andreavicini commented on #81
I like the idea! (and could implement that if you are not already planning to do it)

[2022-05-06 07:54] jorainer commented on #81
I wanted anyway to assign you to that issue @andreavicini ;)

But think also a bit about the naming of the parameter classes - maybe you could find better ones?

For the `SelectedMatchesParam`, I think it would be better to call that `SelectMatchesParam` (because the user selects the matches to filter manually). For the other `TopRankedMatchesParam` (because the user wants to get the top ranked ma

[2022-05-23 11:52] #81 closed

[2022-05-24 06:51] jorainer opened #84 "matchApply function to allow applying any function to each match"
It would be helpful to have a function that iterates over a `Matched` object and allows to apply a user provied function to each. The function `matchApply` should take a `Matched` object as input and should return a `Matched` object, with maybe changed or reduced `@matches` slot. The idea would be that a user might want to e.g. restrict found matches for each query based on some custom, user provi

[2022-05-24 15:31] andreavicini commented on #84
I should have more or less implemented the functionality above but I have a doubt. It seems to me that for the use cases above maybe it would not be necessary to split the `@matches`  `data.frame`  by $query_idx but it would be sufficient to apply `FUN` to the whole `@matches`. Is that right? But I suppose splitting would open up more possibilities?

[2022-05-25 05:49] jorainer commented on #84
Sorry, maybe I was not clear. So, the idea was to split the `@matches` by `$query_idx` and then loop over this list passing the whole `@query` and `@target` to the `FUN`, but only the current subset of the `matches`. This would allow to apply any function to the matching result of one query to either subset and filter the `matches` and return only one match (e.g. the one with the highest score) or

[2022-07-07 06:40] jorainer opened #86 "Additional filterMatched filters"
As discussed in PR #85 we could also have `filterMatched` function that allows to filter a `Matched` removing or keeping certain matches (i.e. entries in the `@matches` slot).

While there are already some filters implemented maybe additional ones to implement would be:

- `ScoreThresholdParam`: keep matches that are above or blow a user-provided threshold. Maybe with parameters `threshold` (the t

[2022-08-05 05:58] #84 closed

[2022-08-29 08:16] jorainer opened #88 "Matching against several annotation resources"
Nir (@AharoniLab) had the excellent idea that it might be good to allow matching against several reference databases in one go. The idea would be to allow calls like:

[code]

where `references` would be a set of reference databases against which the function would sequentially match the experimental spectra `sps_exp`. While an easy solution would be to use simply e.g. a `list` of `Spectra` object

[2022-09-05 06:10] jorainer commented on #88
A first version and initial classes are pushed to https://github.com/rformassspectrometry/MetaboAnnotation/commit/b13ddc5213ce458d8fe8cfd0f5c07dab5f96ea51 (*annotation_source* branch).

[2022-09-17 06:43] jorainer commented on #88
Note: I've now made a first PR (#89 ) to add the basic concept of the annotation sources and examples to integrate MassBank. Development to integrate WeizMass continues in the [weizmass_source](https://github.com/rformassspectrometry/MetaboAnnotation/tree/weizmass_source) branch.